@import "main.scss";
@import "cssClasses.scss";

#menuHeader {
  @include container;
  width: calc(1vw*calc(calc(1440 * 100)/1440));
  @include height(366);
  @include borderb(50, solid #1E5C54);
  background-image: url(../assets/menuBanner.png);
  background-size: contain;
  background-color: #000000;
}

#menuHeader>div {
  @include container;
  width: calc(1vw*calc(calc(1440 * 100)/1440));
  @include height(366);
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

#menuHeader>div>div {
  @include container;
  @include width(524);
  @include height(146);
  flex-direction: column;
  justify-content: space-between;
}

#menuHeader>div>div>span {
  font-style: normal;
  font-weight: 700;
  font-size: calc(1vw*calc(calc(32 * 100)/1440));
  line-height: calc(1vw*calc(calc(39 * 100)/1440));
  letter-spacing: -0.015em;
}

#searchbarContainer {
  @include container;
  @include width(524);
  @include height(36);
  position: relative;
  border-radius: calc(1vw*calc(calc(10 * 100)/1440));
}

#searchbarContainer>div {
  @include container;
  @include width(56);
  @include height(36);
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1E5C54;
  color: white;
  border-top-left-radius: calc(1vw*calc(calc(10 * 100)/1440));
  border-bottom-left-radius: calc(1vw*calc(calc(10 * 100)/1440));
}

#searchbarContainer>div>img {
  @include width(30);
  @include height(30);
}

#searchbarContainer>input {
  @include height(36);
  @include phwidth(60, 524);
  background-color: white;
  opacity: 0.5;
  border: 0;
  font-size: calc(1vw*calc(calc(18 * 100)/1440));
  border-radius: calc(1vw*calc(calc(10 * 100)/1440));
}

#menuBody {
  @include container;
  @include phwidth(66, 1440);
  @include margint(37);
  height: 95vh;
  overflow: hidden;
  background-color: white;
  align-items: flex-start;
  justify-content: space-between;
}

#menuListContainer {
  @include container;
  @include width(222);
  @include paddingt(36);
  height: 90vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menuListHeader {
  @include container;
  @include width(222);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-style: normal;
  font-weight: 900;
  font-size: calc(1vw*calc(calc(18 * 100)/1440));
  line-height: calc(1vw*calc(calc(23 * 100)/1440));
  letter-spacing: -0.015em;
  color: #1E5C54;
}

.menuList {
  @include container;
  @include width(222);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menuList>a {
  @include container;
  @include width(222);
  @include paddingv(5);
  text-decoration: none;
}

.menuList>a :hover,
#menuList>a :active,
#menuList>a :focus {
  @include borderl(3, solid #EAA923);
  color: #EAA923;
}

.menuList>a>span {
  @include container;
  @include plwidth(10, 219);
  font-style: normal;
  font-weight: 700;
  font-size: calc(1vw*calc(calc(16 * 100)/1440));
  line-height: calc(1vw*calc(calc(23 * 100)/1440));
  letter-spacing: -0.015em;
  color: #1E5C54;
  justify-content: flex-start;
  align-items: flex-start;
}

#menuExpandContainer {
  @include container;
  @include width(560);
  max-height: 90vh;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  flex-direction: column;
}

.menuListItemContainer {
  @include width(545);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.menuListItemContainer>span {
  @include width(545);
  @include height(72);
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(32 * 100)/1440));
  line-height: calc(1vw*calc(calc(72 * 100)/1440));
  letter-spacing: -0.015em;
}

.subMenuItemGrid {
  @include container;
  @include width(545);
  @include marginb(32);
  display: grid;
  gap: calc(1vw*calc(calc(60 * 100)/1440));
  grid-column-gap: calc(1vw*calc(calc(45 * 100)/1440));
  grid-template-columns: calc(1vw*calc(calc(250 * 100)/1440)) calc(1vw*calc(calc(250 * 100)/1440));
}

.subMenuItem {
  @include container;
  @include width(250);
  flex-direction: column;
}

.subMenuItem>img {
  @include width(250);
  @include height(191);
}

.subMenuItem>h3 {
  @include width(250);
  @include height(28);
  @include margint(4);
  font-style: normal;
  font-weight: 700;
  font-size: calc(1vw*calc(calc(16 * 100)/1440));
  line-height: calc(1vw*calc(calc(28 * 100)/1440));
  text-align: center;
  letter-spacing: -0.015em;
}

.subMenuItem>p {
  @include container;
  @include width(250);
  @include height(83);
  font-style: normal;
  font-weight: 400;
  font-size: calc(1vw*calc(calc(12 * 100)/1440));
  line-height: calc(1vw*calc(calc(30 * 100)/1440));
  letter-spacing: -0.015em;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.subMenuItem>div {
  @include container;
  @include width(250);
  @include height(33);
  @include margint(12);
  justify-content: space-between;
}

.subMenuItem>div>button {
  @include container;
  @include width(109);
  @include height(33);
  font-style: normal;
  font-weight: 500;
  font-size: calc(1vw*calc(calc(12 * 100)/1440));
  line-height: calc(1vw*calc(calc(15 * 100)/1440));
  text-align: center;
  letter-spacing: -0.015em;
  color: #FFFFFF;
}

.subMenuItem>div>span {
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(22 * 100)/1440));
  line-height: calc(1vw*calc(calc(27 * 100)/1440));
  text-align: center;
  letter-spacing: -0.015em;
}

.cartPreviewContainer {
  @include container;
  @include width(418);
  @include margint(36);
  @include border(3, solid grey);
  max-height: 90vh;
  border-radius: calc(1vw*calc(calc(40 * 100)/1440));
  flex-direction: column;
  justify-content: flex-start;
}

.cartPreviewHeader {
  @include container;
  @include phwidth(39, 418);
  @include paddingt(37);
  font-style: normal;
  font-weight: 700;
  font-size: calc(1vw*calc(calc(16 * 100)/1440));
  line-height: calc(1vw*calc(calc(20 * 100)/1440));
  letter-spacing: -0.015em;
  color: #1E5C54;
  align-items: flex-start;
  justify-content: flex-start;
}

.cartPreviewBody {
  @include container;
  @include width(353);
  @include marginl(44);
  @include marginr(21);
  @include margint(24);
  max-height: calc(1vw*calc(calc(380 * 100)/1440));
  overflow-y: scroll;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.cartPreviewItemContainerDefault {
  @include container;
  @include width(335);
  @include height(70);
  @include marginb(50);
  flex-direction: column;
  align-items: flex-start;
}

.cartPreviewItemContainerDefault>p {
  @include container;
  @include width(335);
  @include height(51);
  @include marginb(11);
  @include margint(11);
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(18 * 100)/1440));
  line-height: calc(1vw*calc(calc(17 * 100)/1440));
  letter-spacing: -0.015em;
}

.cartPreviewItemContainer {
  @include container;
  @include width(335);
  @include height(70);
  @include marginb(50);
  flex-direction: column;
  align-items: flex-start;
}

.cartPreviewItemContainer>p {
  @include container;
  @include width(335);
  @include height(13);
  @include marginb(23);
  align-items: flex-start;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(14 * 100)/1440));
  line-height: calc(1vw*calc(calc(17 * 100)/1440));
  letter-spacing: -0.015em;
}

.cartPreviewItemPriceUnitContainer {
  @include container;
  @include width(335);
  @include height(34);
  justify-content: space-between;
}

.cartPreviewItemPriceUnitContainer>span {
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(18 * 100)/1440));
  line-height: calc(1vw*calc(calc(22 * 100)/1440));
  letter-spacing: -0.015em;
}

.cartPreviewItemUnitContainer {
  @include container;
  @include phwidth(14.5, 112);
  @include height(34);
  filter: drop-shadow(0vw calc(1vw*calc(calc(4 * 100)/1440)) calc(1vw*calc(calc(4 * 100)/1440)) #00000040);
  @include border(1, solid #D9D9D9);
  border-radius: calc(1vw*calc(calc(6 * 100)/1440));
  background-color: #FFFFFF;
  justify-content: space-between;
}

.cartPreviewItemUnitContainer>div {
  @include container;
  @include width(14);
  @include height(14);
  cursor: pointer;
}

.cartPreviewItemUnitContainer>div>img {
  @include width(14);
}

.cartPreviewItemUnitContainer>span {
  @include container;
  @include width(17);
  @include height(15);
  font-style: normal;
  font-weight: 500;
  font-size: calc(1vw*calc(calc(24 * 100)/1440));
  line-height: calc(1vw*calc(calc(29 * 100)/1440));
  letter-spacing: -0.015em;
  color: #1E5C54;
}

#cartPreviewFooter {
  @include container;
  @include phwidth(33, 418);
  @include height(84);
  color: white;
  background-color: #1E5C54;
  font-size: calc(1vw*calc(calc(20 * 100)/1440));
  font-weight: bold;
  border-bottom-left-radius: calc(1vw*calc(calc(40 * 100)/1440));
  border-bottom-right-radius: calc(1vw*calc(calc(40 * 100)/1440));
  justify-content: space-between;
}

#cartPreviewTotalImageCountPriceContainer {
  @include container;
  @include width(222);
  @include height(57);
  justify-content: flex-start;
}

#cartPreviewTotalImageCountContainer {
  @include container;
  @include width(42);
  @include height(57);
  position: relative;
}

#count {
  @include container;
  @include width(30);
  @include height(30);
  position: absolute;
  top: 0;
  left: calc(1vw*calc(calc(10 * 100)/1440));
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(18 * 100)/1440));
  line-height: calc(1vw*calc(calc(22 * 100)/1440));
  letter-spacing: -0.015em;
  color: #FFFFFF;
  z-index: 1;
  text-align: center;
  background-image: url(../assets/circle.png);
  background-size: contain;
}

#cartPreviewTotalImageCountContainer>img {
  @include container;
  @include width(42);
  @include height(41);
  position: absolute;
  bottom: 0;
  left: 0;
}

#totalPriceContainer {
  @include marginl(10);
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(22 * 100)/1440));
  line-height: calc(1vw*calc(calc(27 * 100)/1440));
  letter-spacing: -0.015em;
}

#viewCartBtn {
  @include container;
  @include phwidth(10, 130);
  @include height(30);
  font-style: normal;
  font-weight: 600;
  font-size: calc(1vw*calc(calc(18 * 100)/1440));
  line-height: calc(1vw*calc(calc(22 * 100)/1440));
  letter-spacing: -0.015em;
}

#viewCartBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: calc(1vw*calc(calc(6 * 100)/1440));
}